#labl1{
    margin: 50px 100px 5px 100px; 
    width: 50% ;
    
    font-size: larger;

   
}
#intput1{
    padding: 12px 20px;
   
   

}
#i1{
    font-size: large;
    width: 10%;
    background-color:lightskyblue;
    padding: 12px 20px;
}
